<nav>
  <ul class='navlist'>
    <li class="hover">
      <form class="hover" action="/" method="GET" id="viewapotd">
        <input class="nav hover" type="submit" value="Home">
      </form>
    </li>
    <li class="hover">
      <form class="hover" action="/myalbum" method="GET">
        <input class="nav hover" type="submit" value="My Album">
      </form>
    </li>
    <li class="hover">
      <form class="hover" action="/search" method="GET">
        <input class="nav hover" type="submit" value="Search Random Photos">
      </form>
    </li>
  </ul>
</nav>