body {
  margin: auto;
  max-width: 950px;
  padding: 2%;
  background-color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
}

.hidden {
  display: none;
}

h1,
h2,
h3,
li {
  font-family: 'Merienda One', cursive;
}

.welcomep {
  padding: 2% 5% 2%;
}

.navlist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #3a3a3a;
  padding: 0;
}

#myalbum {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}

.btns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.btn {
  padding: 0 2% 2%;
}

button, input[type=submit]:not(.nav) {
  background-color: #4c96d7;
  border-radius: 25px;
  padding: 5px 10px;
}

a {
    text-decoration: none;

}
a:visited {
  color: black;
}

a:active {
  color: black;
}

.navlist li {
  list-style: none;
  padding: 2%;
}

.nav {
  font-size: .7em;
  text-decoration: none;
  color: white;
  border: none;
  background-color: transparent;
}

.searchtext {
  font-size: .7em;
  color: #4c96d7;
}

.hover:hover {
  background-color: #4c96d7;
  color: #3a3a3a;
}

.nohover:not(:hover){
  background-color: #3a3a3a;
}

.navsearchli:hover {
  background-color: transparent;
}

img {

  max-width: 100%;
  width: min-content;
}

.small {
  width: 200px;
}

.center {
  text-align: center;
}

.imgp {
  text-align: center;
}

#title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

#date {
  text-align: center;
  font-weight: bold;
}

#outputdiv {
  font-size: 1.5rem;
  text-align: center;
}

li {
  list-style: none;
  padding-top: 5%;
  text-align: center;
  font-size: 1.5rem;
}

#myalbum li {
  padding: 0;
}

hr {
  margin-top: 5%;
}

.marginauto {
  margin: auto;
  text-align: center;
}

.keywords {
  font-size: 1rem;
  text-align: start;
  font-family:Arial, Helvetica, sans-serif;
}