<%- include ("../partials/head.ejs") %>
<title>APOD Album Maker</title>
</head>

<body>
  <header>
    <h1>Astromony Photo of the Day Album Maker</h1>
    <p class="welcomep">Welcome to the APOD album maker. Here you can search for photos from the NASA APOD API and
      save
      your favorites to make you own photo album. Here you can select the current APOD or search ten random photos at a time to find
     the perfect one.</p>
  </header>
  <main>
    <form action="/myalbum" method="GET">
    <input type="submit" value="My Album">
    </form>
    <button onclick="fetchData()" id="viewapotd">View APOD</button><br><br>
    <form action="/search" method="GET">
    <label for="search">Search Random Photos</label>
    <input type="submit" value="Go">
    </form>
    <br><br>
    <div id="outputdiv"></div>
    <div id="title"></div>
    <div id="date"></div>
    <div id="explination"></div>
    <p class='imgp'><img src="" id="hdurl"></img></p>
    <form id='hidden' class='hidden' action="/save" method="post">
      <input type="hidden" name="title" id="ftitle" value="">
      <input type="hidden" name="date" id="fdate" value="">
      <input type="hidden" name="explanation" id="fexplanation" value="">
      <input type="hidden" name="copyright" id="fcopyright" value="">
      <input type="hidden" name="hdurl" id="fhdurl" value="">
      <input type="submit" value="Save">
    </form>
  </main>
</body>
<script src="/js/ajax.js"></script>

<script type="text/javascript" src="/js/config.js"></script>

</html>